[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
flask = "*"
flask-sqlalchemy = "*"
sqlalchemy-bigquery = "*"
flask-bcrypt = "*"
flask-wtf = "*"
email-validator = "*"
flask-login = "*"
db-dtypes = "*"
pillow = "*"
flask-mail = "*"
wheel = "*"
waitress = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
