[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
deta = "*"
google = "*"
google-cloud-bigquery = "*"
google-cloud = "*"
pandas = "*"
db-dtypes = "*"
pandas-gbq = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
