<!-- TODO -->
{% extends 'base.html' %}
{% block content %}
<div class="row m-3 align-items-center">
    <div class="col-7">
        <h1 class="text-dark">Thank you for your purchase</h1>
        <p class="lead">We're processing it now. You will receive an email confirmation shortly.</p>
        <p class="lead">Your order number is <strong>W123456U1Y8</strong></p>
        <h4 class="text-dark">Order summary:</h4>
        <div class="card" style="border:none ;">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Item price</th>
                        </tr>
                    </thead>
                    {% for cart_item in current_user.cart %}
                    <tbody>
                        <td class="my-0 col d-inline-block text-truncate" style="max-width: 600px;">
                            {{cart_item.product.title}}</td>
                        <td>${{ int(cart_item.product.price) }}</td>
                    </tbody>
                    {% endfor %}
                    <tbody>
                        <td style="max-width: 600px;"><strong>ESTIMATED TOTAL</strong></td>
                        {% set total = sum(current_user.cart|map(attribute='product')|map(attribute='price')|list) %}
                        {% if total <= 3 %} <td><strong>$3</strong></td>
                            {% else %}
                            <td><strong>${{total}}</strong></td>
                            {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-5">
        <img src="{{ url_for('static',filename='mail.gif') }}" alt=""
            style="filter:grayscale(100%); mix-blend-mode:multiply;width:400px;margin-left: 100px; margin-top:100px">
    </div>
</div>
{% endblock %}