{% extends 'base.html' %}
{% block content %}
<div class="row d-flex justify-content-center mt-3">
    <div class="card col-4 d-flex justify-content-center align-items-center text-center me-2">
        <div class="card-body">
            <img src="{{ pfp }}" class="rounded-circle account-img" style="width:300px;height:300px">
            <h2>{{current_user.username}}</h2>
            <p class="text-secondary">{{ current_user.email }}</p>
            <a class="btn btn-dark" href="{{ url_for('main.loading',destination='profile/update') }}">Update</a>
            <a class="btn btn-dark" href="{{ url_for('main.loading',destination='change_password') }}">Change
                password</a>
        </div>
    </div>
    <div class="card col-4">
        <div class="card-body">
            <h4 class="card-title">Reviews:</h4>
            <h1 class="card-text">{{ reviews }}</h1>
            <h4 class="card-title">Purchased products:</h4>
            <h1 class="card-text">{{ current_user.purchases|length }}</h1>
        </div>
    </div>
</div>
{% endblock %}