{% extends 'base.html' %}
{% block content %}
<ul class="list-group">
    <li class="list-group-item">
        <div class="col-lg-4">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Register</legend>
                    <div class="col-lg">
                        <div class="form-floating mb-3">

                            {% if form.username.errors %}

                            {{ form.username(class='form-control is-invalid',
                            id='floatingUsername',placeholder="name@example.com") }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                <span> - {{ error }}</span>
                                {% endfor %}
                            </div>

                            {% else %}

                            {{ form.username(class='form-control', id='floatingUsername',placeholder="name@example.com")
                            }}

                            {% endif %}

                            {{ form.username.label(for="floatingUsername") }}
                        </div>
                        <div class="form-floating mb-3">

                            {% if form.email.errors %}

                            {{ form.email(class='form-control is-invalid',
                            id='floatingEmail',placeholder="name@example.com") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                <span> - {{ error }}</span>
                                {% endfor %}
                            </div>

                            {% else %}

                            {{ form.email(class='form-control', id='floatingEmail',placeholder="name@example.com") }}

                            {% endif %}

                            {{ form.email.label(for="floatingEmail") }}
                        </div>
                        <div class="form-floating mb-3">

                            {% if form.password.errors %}

                            {{ form.password(class='form-control is-invalid',
                            id='floatingPassword',placeholder="name@example.com") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                <span> - {{ error }}</span>
                                {% endfor %}
                            </div>

                            {% else %}

                            {{ form.password(class='form-control', id='floatingPassword',placeholder="name@example.com")
                            }}

                            {% endif %}

                            {{ form.password.label(for="floatingPassword") }}
                        </div>
                        <div class="form-floating mb-3">

                            {% if form.confirm_password.errors %}

                            {{ form.confirm_password(class='form-control is-invalid',
                            id='floatingConfirmPassword',placeholder="name@example.com") }}
                            <div class="invalid-feedback">
                                {% for error in form.confirm_password.errors %}
                                <span> - {{ error }}</span>
                                {% endfor %}
                            </div>

                            {% else %}

                            {{ form.confirm_password(class='form-control',
                            id='floatingConfirmPassword',placeholder="name@example.com") }}

                            {% endif %}

                            {{ form.confirm_password.label(for="floatingConfirmPassword") }}
                        </div>
                    </div>
                </fieldset>
                {{ form.submit(class='btn btn-outline-info col-lg-4 container', style='margin-bottom:20px') }}
            </form>
        </div>
    </li>
    <li class="list-group-item">
        <a class="text-muted">
            Already got an acount? <a class="ml-2" href="{{ url_for('auth.login') }}">Login</a>
        </a>
    </li>
</ul>
{% endblock %}