{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-center">
    <div class="card col-5 shadow-sm m-3" style="border:none">
        <div class="card-body">
            <div class="text-center">
                <h2 class="card-title">Change your password</h2>
            </div>
            <br>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <div class="col-lg">
                        <div class="form-floating mb-3">

                            {% if form.new_password.errors %}

                            {{ form.new_password(class='form-control is-invalid',
                            id='floatingNewPassword',placeholder="name@example.com") }}
                            <div class="invalid-feedback">
                                {% for error in form.new_password.errors %}
                                <span> - {{ error }}</span>
                                {% endfor %}
                            </div>

                            {% else %}

                            {{ form.new_password(class='form-control',
                            id='floatingNewPassword',placeholder="name@example.com") }}

                            {% endif %}

                            {{ form.new_password.label(for="floatingNewPassword") }}
                        </div>
                        <div class="form-floating mb-3">

                            {% if form.confirm_password.errors %}

                            {{ form.confirm_password(class='form-control is-invalid',
                            id='floatingConfirmPassword',placeholder="name@example.com") }}
                            <div class="invalid-feedback">
                                {% for error in form.confirm_password.errors %}
                                <span> - {{ error }}</span>
                                {% endfor %}
                            </div>

                            {% else %}

                            {{ form.confirm_password(class='form-control',
                            id='floatingConfirmPassword',placeholder="name@example.com") }}

                            {% endif %}

                            {{ form.confirm_password.label(for="floatingConfirmPassword") }}
                        </div>
                    </div>
                </fieldset>
                <div class="d-flex justify-content-center">
                    {{ form.submit(class='btn btn-dark col-lg-4 container', style='margin-bottom:20px') }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}